.mainContainer {
  min-height: calc(100vh - $main-header-height);
  height: 100%;
  background: #000;
  :global {
    .ant-menu {
      background: transparent;
      padding-top: 56px;
      .ant-menu-item {
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: normal;
        line-height: 30px;
        letter-spacing: 1.68px;
        color: #ffffff;
        background: transparent;
        height: auto;
        padding: 4px 12px;
        transition: all 0.3s !important;

        &:hover {
          color: #2e77e3 !important;
          opacity: 0.8;
        }
        &:active {
          background: transparent;
        }
        &.ant-menu-item-selected {
          font-size: 24px;
          font-weight: bold;
          color: #2e77e3;
          box-shadow: none;
        }
        > .anticon {
          display: none !important;
        }
        > svg {
          display: none !important;
          width: 18px;
          height: 18px;
          // margin-inline-end: 12px;
        }
        .anticon {
        }
      }
    }
  }
}
