.borrow-fiat-method-wrapper {
  :global {
    .borrow-fiat-method-container {
      &__loan {
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        color: var(--character-primary-85, rgba(255, 255, 255, 0.65));

        /* Body/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 157.143% */

        &__body {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          &__country {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            color: var(--Neutral-7, #8c8c8c);

            /* Footnote/description */
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 166.667% */

            &__wrapper {
              display: flex;
              align-items: center;
            }

            .ant-select .ant-select-selector {
              display: flex;
              padding: 1px 8px;
              align-items: center;
              gap: 8px;
              border-radius: 2px;
              border: 1px solid var(--Neutral-5, #434343);
              background: var(--Neutral-1, #141414);

              /* drop-shadow/button-secondary */
              box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.02);

              color: var(--character-primary-85, rgba(255, 255, 255, 0.65));

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */
            }

            .ant-select-selection-placeholder {

              color: var(--character-secondary-45, rgba(255, 255, 255, 0.45));
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 32px;
            }

            .ant-select-single.ant-select-open .ant-select-selection-item {
              color: white;
            }

            .ant-select-arrow {
              color: rgba(255, 255, 255, 0.65);
            }
          }

          &__currency {
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            color: var(--Neutral-7, #8c8c8c);

            /* Footnote/description */
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            /* 166.667% */

            &__value {
              color: var(--Neutral-1, #fff);

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */
            }
          }
        }
      }

      &__payout {
        border-top: 1px solid var(--Conditional-divider, #303030);
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;

        &__title {
          color: var(--character-primary-85, rgba(255, 255, 255, 0.65));

          /* Body/regular */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
          /* 157.143% */
        }

        .ant-radio-group {
          display: flex;
          align-items: flex-start;
          gap: 8px;
          flex-wrap: wrap;
          align-self: stretch;

          .borrow-fiat-method-container__payout__method__value {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 8px;
            flex: 1 0 0;
          }

          .borrow-fiat-method-container__payout__method__msg {
            color: var(--Dust-Red-6, #F5222D);

            /* Footnote/description */
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            display: flex;
            justify-content: center;
            width: 100%;
            /* 166.667% */
          }

          .ant-radio-wrapper {
            display: flex;
            padding: 8px;
            white-space: nowrap;
            width: 100%;
            border-radius: 2px;
            border: 1px solid var(--Conditional-divider, #303030);
            background: var(---HitBox, rgba(255, 255, 255, 0.00));
            color: var(--character-title-85, rgba(255, 255, 255, 0.85));

            /* Body/regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;

            &.ant-radio-wrapper-checked {
              background: var(---HitBox, rgba(255, 255, 255, 0.00));

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */

              .ant-radio-inner {
                background: var(--Neutral-3, #E6F7FF);
                border: 1px solid var(--Conditional-divider, #1890FF);

                &::after {
                  background: #1890FF;
                }
              }
            }

            /* 157.143% */
            &.ant-radio-wrapper-disabled {
              background: var(---HitBox, rgba(255, 255, 255, 0.00));
              color: var(--character-disabled-amp-placeholder-25, rgba(255, 255, 255, 0.30));

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */

              .ant-radio-inner {
                background: var(--Neutral-3, #1F1F1F);
              }
            }

            .ant-radio-inner {
              border-radius: 100px;
              border: 1px solid var(--Neutral-5, #434343);
              background: var(--Neutral-1, #141414);
            }
          }
        }
      }

      &__email {
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-top: 1px solid var(--Conditional-divider, #303030);

        &__control {
          .ant-checkbox-wrapper {
            display: flex;
            align-items: center;
            gap: 8px;
            color: var(--character-title-85, rgba(255, 255, 255, 0.85));

            /* Body/regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;

            &.ant-checkbox-wrapper-disabled {
              >span {
                color: var(--character-disabled-amp-placeholder-25, rgba(255, 255, 255, 0.30));

                /* Body/regular */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                /* 157.143% */
              }

              &:hover {
                .ant-checkbox {
                  .ant-checkbox-inner {
                    background: var(--Neutral-3, #1F1F1F);
                  }
                }
              }

              .ant-checkbox-disabled {
                .ant-checkbox-inner {
                  border-radius: 2px;
                  border: 1px solid var(--Neutral-5, #434343);
                  background: var(--Neutral-3, #1F1F1F);
                }
              }
            }

            /* 157.143% */
            &:hover {
              .ant-checkbox {
                .ant-checkbox-inner {
                  background: var(--Primary-6, #1890FF);
                }
              }
            }

            .ant-checkbox {
              .ant-checkbox-inner {
                border-radius: 2px;
                background: var(--Primary-6, #1890FF);
                width: 16px;
                height: 16px;
                border: 1px solid rgba(24, 144, 255, 0.00);

                &::after {
                  width: 6.142857px;
                  height: 9.428571px;
                }
              }
            }
          }
        }

        &__input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          align-self: stretch;
          color: var(--Neutral-7, #8C8C8C);

          /* Footnote/description */
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;

          input {
            border-radius: 2px;
            border: 1px solid var(--Neutral-5, #434343);
            background: var(--Neutral-1, #141414);
            display: flex;
            max-width: 216px;
            align-items: center;

            color: var(--character-title-85, rgba(255, 255, 255, 0.85));

            /* Body/regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 157.143% */

            &::placeholder {
              color: var(--character-disabled-amp-placeholder-25, rgba(255, 255, 255, 0.30));

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */
              /* 133.333% */
            }
          }
        }
      }

      &__repayment {
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        border-top: 1px solid var(--Conditional-divider, #303030);
        color: var(--character-primary-85, rgba(255, 255, 255, 0.65));

        /* Body/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        .ant-radio-group {
          display: flex;
          row-gap: 8px;
          flex-wrap: wrap;
          align-items: flex-start;
          align-self: stretch;


          .ant-radio-wrapper {
            display: flex;
            padding: 8px;
            align-items: flex-start;
            white-space: nowrap;
            gap: 8px;
            flex: 1 0 0;
            border-radius: 2px;
            border: 1px solid var(--Conditional-divider, #303030);
            background: var(---HitBox, rgba(255, 255, 255, 0.00));
            color: var(--character-title-85, rgba(255, 255, 255, 0.85));

            /* Body/regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;

            &.ant-radio-wrapper-checked {
              background: var(---HitBox, rgba(255, 255, 255, 0.00));

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */

              .ant-radio-inner {
                background: var(--Neutral-3, #E6F7FF);
                border: 1px solid var(--Conditional-divider, #1890FF);

                &::after {
                  background: #1890FF;
                }
              }
            }

            /* 157.143% */
            &.ant-radio-wrapper-disabled {
              background: var(---HitBox, rgba(255, 255, 255, 0.00));
              color: var(--character-disabled-amp-placeholder-25, rgba(255, 255, 255, 0.30));

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */

              .ant-radio-inner {
                background: var(--Neutral-3, #1F1F1F);
              }
            }

            .ant-radio-inner {
              border-radius: 100px;
              border: 1px solid var(--Neutral-5, #434343);
              background: var(--Neutral-1, #141414);
            }
          }
        }


        /* 157.143% */
      }

      &__action {
        display: flex;
        padding: 16px 24px 32px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-top: 1px solid var(--Conditional-divider, #303030);

        .btn-primary-custom {
          &:disabled {
            border-radius: 2px;
            border: 1px solid var(--Neutral-5, #434343)!important;
            background: var(--Neutral-3, #1F1F1F)!important;
            opacity: 0.8 !important;
          }
        }
      }
    }
  }
}

.borrow-fiat-method-country {
  :global {
    .borrow-fiat-method-country__option {
      display: flex;
      align-items: center;
      color: var(--character-title-85, rgba(255, 255, 255, 0.85));

      /* Body/regular */
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
}