.withdraw-modal-wrapper {
  :global {
    .ant-modal-content {
      display: flex;
      max-width: 456px;
      padding-bottom: 16px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 2px;
      border: 1px solid var(--Conditional-divider, #303030);
      background: var(--Conditional-pop-over, #1F1F1F);

      .ant-modal-close {
        color: #fff;
      }

      .ant-modal-header {
        display: flex;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border: none;
        background: var(--Conditional-pop-over, #1F1F1F);


        .ant-modal-title {
          color: #FFF;
          /* H5/bold */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 24px;
          /* 150% */
        }
      }
    }

    .ant-modal-body {
      padding: 0px !important;
      width: 100%;

      .withdraw-modal-container {
        &__supply-overview {
          display: flex;
          padding: 16px 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;
          border-top: 1px solid var(--Conditional-divider, #303030);

          &__container {
            display: flex;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;
            border-radius: 8px;
            border: 1px solid var(--DayBreak-Blue-6, #1890FF);

            &__title {
              color: var(--character-primary-85, rgba(255, 255, 255, 0.65));

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */
            }

            &__alert {
              display: flex;
              padding: 9px 16px;
              align-items: flex-start;
              gap: 10px;
              align-self: stretch;
              border-radius: 2px;
              border: 1px solid var(--Primary-6, #1890FF);

              color: var(--Primary-6, #1890FF);

              /* Body 14 / regular */
              font-family: Roboto;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */
            }

            &__values {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              gap: 8px;
              align-self: stretch;

              &__item {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
                color: var(--Neutral-7, #8C8C8C);

                /* Footnote/description */
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;

                /* 166.667% */
                &__value {
                  display: flex;
                  align-items: center;
                  gap: 4px;
                  color: var(--Neutral-1, #FFF);

                  /* H5/bold */
                  font-family: Inter;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 24px;
                  /* 150% */

                  &__unit {
                    color: var(--Neutral-7, #8C8C8C);

                    /* H5/regular */
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    /* 150% */
                  }
                }

              }
            }
          }
        }

        &__input {
          display: flex;
          padding: 16px 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
          align-self: stretch;

          &__title {
            color: var(--character-title-85, rgba(255, 255, 255, 0.85));

            /* H5/bold */
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            /* 150% */
          }

          &__control {
            display: flex;
            padding: 16px;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
            align-self: stretch;
            border-radius: 8px;
            border: 1px solid var(--Conditional-divider, #303030);
            background: var(--Conditional-page-background, #000);

            .ant-input-number-group-wrapper {
              display: flex;
            }

            &__amount {
              width: 100%;

              .ant-input-number-wrapper {
                display: flex;

                .ant-input-number {
                  background: transparent;
                  border: none;
                  width: auto;
                  flex: 0 1 auto;

                  &:focus-within {
                    box-shadow: none;
                  }
                  
                  .ant-input-number-input {
                    &::placeholder {
                      color: var(--character-secondary-45, rgba(255, 255, 255, 0.45));

                      /* H3/medium */
                      font-family: Inter;
                      font-size: 24px;
                      font-style: normal;
                      font-weight: 500;
                      line-height: 32px;
                      /* 133.333% */
                    }

                    color: var(--character-primary-inverse, #FFF);

                    /* H3/medium */
                    font-family: Inter;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px;
                    padding-left: 0px;
                  }

                  /* 133.333% */
                }

                .ant-input-number-group-addon {
                  border: none;
                  display: flex;
                  align-items: center;
                  width: auto;
                  justify-content: flex-end;
                  padding: 0px;
                  border-radius: 100000px;
                  flex: 1 0 auto;

                  /* 150% */
                  .withdraw-modal-container__input__control__amount__token {
                    display: flex;
                    gap: 8px;
                    color: var(--character-primary-inverse, #FFF);

                    /* SubTitle/H2_16px_Medium */
                    font-family: Inter;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                  }
                }
              }
            }

            &__price {
              color: var(--character-primary-85, rgba(255, 255, 255, 0.65));

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */
              display: flex;
              gap: 12px;
              justify-content: space-between;
              width: 100%;
              align-items: center;

              &__max {
                color: var(--Primary-6, #1890FF);

                /* Body/bold */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 22px;
                padding: 0px;
                /* 157.143% */
              }
            }
          }

          &__error {
            color: var(--Dust-Red-6, #F5222D);

            /* Body/B3_14px_Regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
          }
        }

        &__overview {
          border-top: 1px solid var(--Conditional-divider, #303030);
          display: flex;
          padding: 16px 24px;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;
          align-self: stretch;

          &__title {
            color: var(--character-primary-85, rgba(255, 255, 255, 0.65));

            /* Body/regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;
            /* 157.143% */
          }

          &__apy {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            align-self: stretch;

            &__title {
              display: flex;
              align-items: flex-start;
              gap: 4px;
              color: var(--Neutral-7, #8C8C8C);

              /* Footnote/description */
              font-family: Inter;
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 20px;
              /* 166.667% */
            }

            &__value {
              display: flex;
              align-items: center;
              gap: 4px;

              color: var(--Neutral-7, #8C8C8C);

              /* H5/regular */
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              /* 150% */
            }
          }
        }

        &__action {
          border-top: 1px solid var(--Conditional-divider, #303030);
          display: flex;
          padding: 16px 24px 32px;
          flex-direction: column;
          gap: 16px;
          align-self: stretch;

          &__approve {
            &__helper {
              display: flex;
              padding: 0px 7px;
              justify-content: center;
              align-items: center;
              gap: 10px;

              &__link {
                color: var(--Primary-6, #1890FF);
                text-align: center;

                /* Body/regular */
                font-family: Inter;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px;
                /* 157.143% */
              }
            }
          }

          .btn-primary-custom {
            &:disabled {
              border-radius: 2px;
              border: 1px solid var(--Neutral-5, #434343) !important;
              background: var(--Neutral-3, #1F1F1F) !important;
              color: var(--character-disabled-amp-placeholder-25, rgba(255, 255, 255, 0.30)) !important;
              text-align: center;
              opacity: 1 !important;

              /* Body/regular */
              font-family: Inter;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 22px;
              /* 157.143% */
            }
          }
        }
      }
    }
  }
}