.bannerComponent {
  :global {
    .banner-container {
      display: flex;
      gap: 32px;
      padding: 64px 108px 64px 108px;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        padding: 0px 16px 56px 16px;
      }
    }
    .content-left {
      max-width: 620px;
      margin: 0 auto;
      @media screen and (max-width: 767px) {
        order: 1;
        padding-top: 200px;
      }
      .logo {
        margin-bottom: 12px;
        img {
          width: 252px;
          height: auto;
        }
      }
      .title {
        color: #fff;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        margin-bottom: 36px;
        @media screen and (max-width: 767px) {
          font-size: 24px;
          line-height: 32px;
        }
        span {
          background: #37b4cb;
          background: linear-gradient(to right, #37b4cb 0%, #2e77e3 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .description {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 32px;
        @media screen and (max-width: 767px) {
          font-size: 14px;
          line-height: 22px;
        }
      }
      .btn-actions-container {
        display: flex;
        gap: 12px;
        .ant-btn {
          width: 176px;
          text-align: center;
        }
      }
    }
    .content-right {
      .images-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .image-coin {
          max-width: 300px;
          top: 40px;
          width: 100%;
          height: auto;
          position: absolute;
          animation: float 3s ease-in-out infinite;
          @media screen and (max-width: 767px) {
            top: 60px;
            max-width: 240px;
          }
        }
        .image-hand {
          max-width: 655px;
          width: 100%;
          height: auto;
          position: relative;
          top: 200px;
        }
      }
    }
  }
}
