.titleComponent {
  :global {
    .title-container {
      display: flex;
      align-items: center;
      @media screen and (max-width: 767px) {
      }
    }
    .title-content {
      color: #fff;

      /* H2/medium */
      font-family: Inter;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: 40px; /* 133.333% */
      margin-right: 23px;
      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }
  }
}
