$primary-color: #1890ff;
$main-header-height: 80px;
$main-footer-height: 56px;
$black-common-color: #303030;
$black-light-color: #1f1f1f;
$white-title-color: rgba(255, 255, 255, 0.85);
$white-color: #fff;
$black-color: #000;
$currency-color: rgba(255, 255, 255, 0.65);
$sub-title-color: #8c8c8c;
