.signin-wrapper {
  :global {
    .ant-modal-content {
      display: flex;
      max-width: 536px;
      padding-bottom: 16px;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 2px;
      border: 1px solid var(--Conditional-divider, #303030);
      background: var(--Conditional-pop-over, #1f1f1f);

      .ant-modal-close {
        color: #fff;
      }

      .ant-modal-header {
        display: flex;
        padding: 16px;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        border: none !important;
        background: var(--Conditional-pop-over, #1f1f1f);
        padding: 16px !important;
        .ant-modal-title {
          color: #fff !important;

          /* 150% */
        }
      }
    }

    .ant-modal-body {
      padding: 0px !important;
      width: 100%;
      border-top: 1px solid var(--Conditional-divider, #303030);
      .signup-body {
        border-bottom: 1px solid var(--Conditional-divider, #303030);
        padding: 16px 24px;
        & > div {
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        span {
          color: var(--Neutral-7, #8c8c8c);

          /* Footnote/description */
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 166.667% */
        }
        .input-warpper {
          padding: 0 8px;
          width: 222px;
          border: 1px solid var(--Neutral-5, #434343);
          background: var(--Neutral-1, #141414);
          display: flex;
          align-items: center;
          svg {
            cursor: pointer;
          }
        }
        input:-webkit-autofill,
        input:-webkit-autofill:focus {
          transition: background-color 600000s 0s, color 600000s 0s;
        }
        input[data-autocompleted] {
          background-color: transparent !important;
        }
        input {
          outline: unset;
          width: 100%;
          padding: 0;
          height: 22px;
          border-radius: 2px;
          background: var(--Neutral-1, #141414);
          border: 0;
          color: var(--character-title-85, rgba(255, 255, 255, 0.85));

          /* Body/regular */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
          &::placeholder {
            color: var(--character-disabled-amp-placeholder-25, rgba(255, 255, 255, 0.3));
          }
        }
        .ant-input-affix-wrapper {
          // width: 222px;
          background: transparent;
          padding: 0;
          border: 0;
          svg {
            cursor: pointer;
          }
        }
        .ant-input-password-icon {
          &:hover,
          &:active {
            color: var(--Neutral-7, #8c8c8c);
          }
        }
      }
      .signup-footer {
        padding: 16px 24px 32px;
        .ant-btn-default {
          border-radius: 2px;

          border: 1px solid var(--Primary-6, #1890ff);
          background: var(--Primary-6, #1890ff);

          /* drop-shadow/button-primary */
          box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
          &:disabled {
            background: var(--Neutral-3, #1f1f1f) !important;
            border: 1px solid var(--Neutral-5, #434343) !important;
            span {
              color: var(--character-disabled-amp-placeholder-25, rgba(255, 255, 255, 0.3));
            }
          }
          span {
            color: var(--character-primary-inverse, #fff);

            text-align: center;

            /* Body/regular */
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
          }
        }
      }
      .forgot-password {
        padding: 0 7px;
        cursor: pointer;
        color: var(--Primary-6, #1890ff);
        text-align: center;

        /* Body/regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }
    }
  }
}
